<?xml version="1.0"?>
<!--
/**
 * Copyright © DMLab. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="DmLab\SsoCore\Model\Oidc\DiscoveryClient">
        <arguments>
            <argument name="cache" xsi:type="object">DmLab\SsoCore\Model\Cache\Type</argument>
        </arguments>
    </type>
    <type name="DmLab\SsoCore\Model\Oidc\JwksClient">
        <arguments>
            <argument name="cache" xsi:type="object">DmLab\SsoCore\Model\Cache\Type</argument>
        </arguments>
    </type>
</config>
